html {
    background-image: url("./images-css/img-background.png");
}

h2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    box-sizing: border-box;
}

.titreVert {
    background-image: url("./images-css/img-affiches-foreground.png");
}

.titreJaune {
    background-image: url("./images-css/img-clips-videos-foreground.png");
}

.titreRose {
    background-image: url("./images-css/img-clips-audio-background.png");
}

.titreBleu {
    background-image: url("./images-css/img-label-foreground.png");
}

.gras {
    font-weight: 700;
}


/********** BODY *********/

body {
    background-image: url("./images-css/img-foreground.png");
    background-size: cover;
    width: 70%;
    min-width: 640px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    z-index: 100;
    box-sizing: border-box;
}


/********** HEADER **********/

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    box-sizing: border-box;
}

.reseauxSoc {
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    flex-wrap: wrap;
}

.reseauxSoc img {
    width: 40px;
}

h1 {
    font-size: 40pt;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.compte a {
    text-decoration: none;
    font-size: 20pt;
    color: #000000;
}

.compte img {
    width: 50px;
}

.log img {
    width: 40px;
}

h1::after {
    content: url("./images-css/img-logo-titre-backgroung.png");
    position: absolute;
    transform: scale(0.45);
    left: -100%;
    top: -65%;
    opacity: 0.7;
    z-index: -1;
}

h1::before {
    content: url("./images-css/img-logo-animation.gif");
    width: 200px;
    position: absolute;
    transform: scale(0.7);
    left: -20px;
    top: -175px;
    z-index: -3;
}


/*************** NAV ***************/

nav {
    position: relative;
    top: -35px;
    height: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-weight: bold;
    font-size: 25pt;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}


/*************** FOOTER ***************/

footer {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 150px;
    font-size: 20pt;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

footer a {
    text-decoration: none;
}

footer div:first-child {
    width: 75%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
}

.txtFooter {
    display: inline-flex;
    padding: 5px;
    word-wrap: break-word;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.txtFooter a {
    color: #000000;
    margin: 5px;
}

.txtFooter a:hover {
    text-decoration: underline;
}

footer div:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    flex-wrap: wrap;
}

footer img {
    height: 40px;
}

@media (max-width: 550px) {
    footer img {
        display: none;
    }
    footer div:first-child {
        width: 100%;
    }
}

footer::after {
    content: url("./images-css/img-famille-cabadix-animation.gif");
    position: absolute;
    transform: scale(0.6);
    left: -180px;
    top: 40px;
}


/*************** INDEX ***************/

#presentationSite {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("./images-css/img-background-index.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 90%;
    padding: 33px;
    margin-right: auto;
    margin-left: auto;
}

.illustrationsIndex {
    width: 100%;
    position: relative;
}

.illustrationsIndex img {
    width: 90%;
    margin-top: 10px;
}

.illustrationsIndex .textGif {
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6vw;
    transform-origin: bottom left;
}

#baleine {
    right: 15%;
    bottom: 68%;
    width: 27%;
}

#usine {
    right: 8%;
    bottom: 46%;
    width: 30%;
}

#magicien {
    width: 30%;
    right: 30%;
    bottom: 16.5%;
}

@media (max-width: 1500px) {
    #baleine {
        bottom: 65%;
    }
    #usine {
        bottom: 44%;
    }
    #magicien {
        bottom: 17%;
    }
}

#liensIndex {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

#liensIndex a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    width: 100px;
}

#liensIndex a:first-child {
    background-image: url("./images-css/img-clips-audio-background.png");
}

#liensIndex a:nth-child(2) {
    background-image: url("./images-css/img-clips-videos-foreground.png");
}


/*************** GALERIE ***************/

#selecGalerie p {
    display: inline-flex;
    font-size: 15pt;
    color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    box-sizing: border-box;
    width: 95px;
    justify-content: center;
}

#selecGalerie p:first-child {
    background-image: url("./images-css/img-affiches-foreground.png");
}

#selecGalerie p:nth-child(2) {
    background-image: url("./images-css/img-clips-videos-foreground.png");
    margin-left: 20px;
    margin-right: 20px;
}

#selecGalerie p:last-child {
    background-image: url("./images-css/img-clips-audio-background.png");
}

.naviGalerie img {
    width: 18px;
    margin: 5px
}

#galerie {
    position: relative;
    width: 626px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#imgGalerie {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: transform 0.25s linear;
}

#imgGalerie li {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
}

#imgGalerie img {
    box-sizing: border-box;
    border: 16px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 65 45;
    display: inline-flex;
    height: 192px;
    margin: 10px;
}

#imgGalerie a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}


/*************** CONTACT ET INSCRIPTION ET CONNEXION (FORMULAIRES) ***************/

.formulaire label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 15pt;
    vertical-align: middle;
}

.formulaire input:not([type=submit]):not([type=radio]):not([type=checkbox]),
.formulaire textarea {
    width: 375px;
    vertical-align: middle;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    margin: 15px;
    padding-left: 17px;
    border: none;
    box-sizing: border-box;
}

.formulaire div:first-child input,
.formulaire div:nth-child(4) input {
    transform: rotate(1deg);
}

.formulaire div:nth-child(2) input {
    transform: rotate(-1deg);
}

.formulaire input:not([type=submit]):not([type=checkbox]) {
    background-image: url("./images-css/img-formulaire-nom.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 55px;
}

.formulaire textarea {
    background-image: url("./images-css/img-formulaire-message.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-right: 15px;
    box-sizing: border-box;
    resize: none;
    height: 185px;
}

.inputSubmit {
    width: 95px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background: none;
    background-image: url("./images-css/img-clips-videos-foreground.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
    cursor: pointer;
}

.formObli {
    color: red;
}

.lienInscription {
    font-family: 'Open Sans Condensed', sans-serif;
}

.lienInscription a {
    color: #fe5d99;
}

#accepterModalite+label {
    width: auto;
}

.radioContact {
    display: inline-block;
    margin-left: 125px;
    margin-top: 15px;
}

.contact input[type=radio]+label {
    text-align: left;
}

.contact input[type=radio] {
    height: auto;
    background: none;
}

input:focus {
    outline: transparent;
}


/*************** COMPTE ***************/

#monCompte label {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
}


/* Biographie */

#formBio {
    font-size: 15pt;
}

#bio {
    padding: 5px;
    border: 16px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 65 45;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#bio>h3 {
    margin-top: 10px;
    width: 100%;
    font-family: 'Amatic SC', cursive;
}

#monCompte>div:first-child {
    vertical-align: middle;
    width: 40%;
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}

#monCompte>div:first-child label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#monCompte textarea {
    resize: none;
    background-image: url(images-css/img-background-biographie.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 90px;
}


/* Mot de passe et email */

#monCompte>div:nth-child(2) {
    width: 525px;
    display: inline-block;
    vertical-align: middle;
}

.formulaireCompte {
    width: 550px;
}

.formulaireCompte label {
    display: inline-block;
    width: 160px;
    text-align: right;
    font-size: 12pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.formulaireCompte input:not([type=submit]) {
    width: 285px;
    height: 35px;
    padding: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    background-image: url(images-css/img-background-compte.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.formulaireCompte:nth-child(2) {
    margin-top: 25px;
}


/* Oeuvres */

#monCompte>div:last-child {
    margin-top: 15px;
}

#monCompte>div:last-child .oeuvreCompte {
    max-width: 200px;
    border: 16px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 65 45;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 15px;
}

#monCompte>div:last-child form {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#monCompte>div:last-child form>button img {
    width: 35px;
}

#monCompte>div:last-child form>button {
    border: none;
    background: none;
    cursor: pointer;
}

#monCompte h3 {
    font-size: 15pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
}

#titreMoncompteOeuvres {
    margin-top: 55px;
}


/*************** PARTICIPATION ***************/

#divParticipation {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#participation {
    width: 520px;
    background-image: url("./images-css/img-processus-publication.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

#participation #listeForm {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#participation .liste {
    font-size: 15pt;
    text-align-last: left;
    margin-top: 10px;
    margin-bottom: 5px;
    list-style-type: none;
    display: block;
}

#participation label:not(.liste) {
    font-family: 'Open Sans Condensed', sans-serif;
}

#participation .labelFile {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
}

#participation .parentInputFile label:first-of-type {
    background-image: url("./images-css/img-clips-audio-background.png");
}

#participation .labelFile:nth-child(5) {
    background-image: url("./images-css/img-label-foreground.png");
    margin-top: 10px;
}

#participation .reseauxSoc {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

#participation input[type=file] {
    /* MODIFIER BOUTON */
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: none;
}

#participation input[type=text] {
    border: none;
    background: none;
    background-image: url("./images-css/img-formulaire-nom.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 90%;
    padding-left: 13px;
    padding-right: 13px;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

#participation #titre {
    font-size: 12pt;
}

#participation textarea {
    background-image: url("./images-css/img-formulaire-message.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 14px;
    height: 145px;
    box-sizing: border-box;
    resize: none;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

#participation .inputSubmit {
    background-image: url("./images-css/img-clips-audio-background.png");
    display: inline-flex;
    margin-bottom: 20px;
}

#participation+div {
    max-width: 325px;
}

#participation+div>img {
    border: 16px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 65 45;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
}

#apercu {
    max-width: 250px;
}


/*************** AFFICHE IMAGE ***************/

#descAut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#descAut h3{
    width: 100%;
}

#descNote button{
    border: none;
    background: none;
    cursor: pointer;
}

#descNote button>img {
    width: 50px;
}

#descNote {
    display: inline-flex;
    align-items: center;
    max-width: 80%;
}

.grandeOeuvre {
    border: 20px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 70 45;
    max-height: 90vh;
    max-width: 80%;
}

.descOeuvre {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15pt;
    margin-bottom: 30px;
    width: 70%;
    justify-content: center;
}

h3 {
    text-align: center;
    font-size: 18pt;
    margin: 0;
}

#nomAuteur {
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-flex;
}

.retour {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.retour a {
    text-decoration: none;
    /*display: inline-flex;*/
}

.retour img {
    width: 50px;
}

#supprOeAdmin button{
    border: none;
    background: none;
    cursor: pointer;   
}

/*************** MODALITES ***************/

#modalites h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 18px;
}

#modalites p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    width: 90%;
    display: inline-block;
    /* OU INLINE-flex ? */
    margin: 10px;
}


/*************** MENTIONS LEGALES ***************/

#mentionsLegales~p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    width: 90%;
    display: inline-flex;
    margin: 10px;
}


/*************** SPONSORS ***************/

#sponsors p {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    width: 90%;
    display: inline-block;
    margin: 10px;
}

#sponsors ul {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sponsors ul a {
    text-decoration: none;
    color: black;
}

#sponsors img {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    width: 40%;
}

#sponsors a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}


/********************** POPUPS *********************/

.popup {
    height: 350px;
    width: 550px;
    position: absolute;
    display: none;
    top: 33.3333333333333333333333333333%;
    left: 30%;
    padding: 25px;
    box-sizing: border-box;
    background-image: url("images-css/img-popup-fond.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 8000;
    font-family: 'Open Sans Condensed', sans-serif;
}

.popup.visible,
.flou.visible {
    display: inline;
    flex-wrap: wrap;
}

.popup.visible h3 {
    width: 100%;
}

.popup.visible a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-flex;
    width: 150px;
    height: 40px;
    justify-content: space-around;
}

.popup.visible a:first-of-type {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
}

.popup.visible a:last-of-type {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.fermer {
    width: 120px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: transparent;
    background-image: url("./images-css/img-affiches-foreground.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
}

.flou {
    background-color: rgba(221, 221, 221, 0.5);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}


/********************** ADMINISTRATION *********************/

#preventionAdmin {
    max-width: calc(100% - 500px);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15pt;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tableUser {
    width: 314px;
    height: 335px;
    overflow: auto;
    display: inline-block;
    vertical-align: middle;
    background-image: url("./images-css/img-processus-publication.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.utilisateursAdmin {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

#tableUser+form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
}

#tableUser+form>div:nth-child(2),
#tableUser+form>div:nth-child(3) {
    display: inline-block;
}

#tableUser+form label {
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#tableUser+form div:first-child label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tableUser+form input[type=text] {
    margin: 0px;
}

#tableUser+form input[type=radio] {
    display: inline-block;
    vertical-align: middle;
}

.utilisateursAdmin+form button {
    border: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;
}

.utilisateursAdmin+form button img {
    width: 35px;
}

.oeuvreAdministration {
    max-width: 200px;
    border: 16px solid transparent;
    border-image: url("./images-css/img-media-4-foreground.png") 65 45;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 15px;
}